*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}
p{
   color: #555;
}
 
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    overflow: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 20px;
}
.logo{
   cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    
}
nav ul li::after{
    content: '';
    display: block;
    width: 0%;
    background: #f44336;
    height: 2px;
    margin: auto;
    transition: 0.7s;

}
nav ul li:hover::after{
    width: 80%;
}
nav ul{
    margin-right: 15px;
}
nav ul li a{
    color: #555;
    text-decoration: none;
    padding: 3px 20px;
    cursor: pointer;
    transition: 0.7s;
}
 
.cart{
    position: relative;
    top: 10px;
}

.menu-icon{
    width: 28px;
    margin-left: 30px;
    display: none;
}
 
.row{
    display:  flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-bottom: 20px;
    
}
.col-2 img{
    max-width: 100%;
    
}
.col-2 h1{
   font-size: 55px;
   line-height: 65px;
   margin: 25px 0px;
}
.col-2 a{
  text-decoration: none;
}
.btn {
    display: inline-block;
    background : #ff523b;
    border: 1px solid #f44336;
    padding: 8px 30px;
    color: #fff;
    border-radius: 30px;
    margin: 30px 0;
    transition: 0.8s;
}
.btn:hover{
    background: transparent;
    color: black;
}

/*  featured categories section  */

.small-container{
    max-width: 1080px;
    margin: auto;
    overflow: hidden;
}
.col-3{
   flex-basis: 30%;
   min-width: 250px;
   margin-bottom: 30px;
}
.col-3 img{
    max-width: 100%;
    cursor: pointer;
    transition: all 0.7s;
}


/* featured products section */

 .title{
     color: rgb(51, 51, 51);
     text-align: center;
}

    

.col-4{
     flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    padding: 10px;
    
} 
.col-4 img{
     width: 100%;
     cursor: pointer;
     transition: transform 0.7s; 
}
 
.rating .fa{
     color: #ff523b;
}
.col-4 h4{
     color: #333;
     margin-top: 5px;
}

/* offer section */

.offer{
     background: radial-gradient(#fff,#ffd6d6);
     padding: 20px 0px;
     margin-top: 80px;
     position: relative;
     overflow: hidden;
}
.col-2 .offer-img{
    padding: 5px;
}
small{
    color: #555;
}

/* testimonial */

.testimonial{
    padding: 30px 0px;
}
.review{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: #555;
}

.testimonial .col-3{
     text-align: center;
      padding: 20px 30px;
     background: radial-gradient(#fff, #ffd6d6);
     border-radius: 20px;
     transition: all 0.7s;
     cursor: pointer;
     box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.1);
}
.testimonial .col-3:hover{
     transform: translateY(-10px);
}
.testimonial .col-3 img{
     width: 50px;
     border-radius: 50%;
}
.testimonial .col-3 p{
     margin-bottom: 10px;
     font-size: 15px;
}
.testimonial .col-3 .fa{
     margin-bottom: 15px;
}
.testimonial .col-3 h3{
     color: #111;
     font-size: 16px;
     margin-top: 10px;
}

/* brands section */

.brands{
    margin: 80px auto;
}
.brands .col-5{
    width: 160px;
}
.brands .col-5 img{
     width: 100%;
     cursor: pointer;
}      
 
/* footer */

.footer{
     background: #000;
     color: #8a8a8a;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 10px;
}
.footer p{
   color: #8a8a8a;
}
.footer h3{
     color: #fff;
     margin-bottom: 15px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
     min-width: 250px;
     margin-bottom: 30px;
    
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
     width: 180px;
     margin-bottom: 20px;
}
ul{
     list-style-type: none;
} 
.footer-col-3, .footer-col-4{
    flex-basis: 20%;
    text-align: center;
}
.footer-col-3 li, .footer-col-4 li{
    margin-bottom: 5px;
}
.footer-col-3 a, .footer-col-4 a{
    text-decoration: none;
    color: #8a8a8a;
    cursor: pointer;
    transition: all 0.7s;
}
.footer-col-3 a:hover, .footer-col-4 a:hover{
    color: rgb(116, 3, 116);
}
.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 130px;
    cursor: pointer;
    margin: 3px;
}

.footer hr{
     border: none;
     background: #b5b5b5;
     height: 1px;
     margin-top: 10px;
     margin-bottom: 15px;
}

.copyright{
    
    text-align: center;
    margin-bottom: 20px;
}

/* media query for menu */

@media only screen and (max-width:700px){
     
    .cart{
         position: absolute;
         top: 25px;
         right: 75px;
    }
    .menu-icon{
         display: block;
    }
    .navbar{
        margin-bottom: 190px;
    }
    nav ul {
         width:  100%;
         height: 100%;
         position: absolute;
         overflow: hidden;
         top: 70px;
         left: 0px;
         background: #333;
         transition: max-height 0.7s;
    }
                 
    nav ul li{
          margin-top: 7px;
          margin-right: 15px;
          margin-bottom: 5px;
          display: block;
    }
    nav ul li a{
         color: #fff;
         
    }
}
        
@media only screen and (max-width:700px){
     .row{
         text-align: center;
     }
   
}


/* products page */

 

.row-2{
      justify-content: space-between;
       margin-left: 20px;
       margin-right: 20px;
}
.row-2 h2{
     color: #333;
}
select{
    padding: 5px;
    border: 1px solid #ff523b;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
select:focus{
    outline: none;
}
.page-btn{
     margin: 20px auto 80px;
}
.page-btn span{
     
     border: 1px solid #ff523b;
     padding: 10px;
     margin-left: 10px;
     cursor: pointer;
     transition: all 0.7s;
}
.page-btn span:hover{
     background: #ff523b;
     color: #fff;
}

/*  single product-details section */

 .single-product{
    margin-top: 20px;
 }
 .single-product .col-2{
    padding: 20px;
 }
 .single-product .col-2 img{
     padding: 0px;
 }
 .single-product h2{
     font-size: 45px;
     line-height: 50px;
     margin: 20px 0px;
 }
 .single-product h4{
     color: #333;
     margin-top: 15px;
     margin-bottom: 15px;
 }
 .single-product select{
       padding: 10px;
       margin-top: 20px;
       margin-bottom: 0px;
       display: block;
 }
 .single-product input{
     width: 40px;
     height: 40px;
     border: 1px solid #ff523b;
     padding-left: 10px;
     margin-right: 20px;
     cursor: pointer;
  }
  .single-product input:focus{
     outline: none;
  }
  .single-product h3{
     font-size: 20px;
     color: #333;
  }
  .single-product .fa{
         color: #ff523b;
         margin-left: 20px;
         cursor: pointer;
  }

  .small-img-row{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
  }
  .small-img-col{
     flex-basis: 23%;
  }
  .small-img-col img{
       cursor: pointer;
  }
  .small-container .view{
       background: #ff523b;
       border: 1px solid #ff523b;
       padding: 6px 16px;
       text-decoration: none;
       color: #fff;
       font-size: 13px;
     
       transition: all 0.7s;
  }
  .small-container .view:hover{
       background: transparent;
       color: #000;
  }

  @media only screen and (max-width:700px){
    .single-product .row{
      text-align: left;
    }
    .single-product .col-2{
      padding: 20px 0;
    }
    .single-product h2{
           font-size: 30px;
           line-height: 40px;
           
    }
}

/* cart details page */

.cart-page{
    margin-top: 100px;
    margin-bottom: 100px;
  }
table{
    width: 100%;
    border-collapse: collapse;
    margin-right: 5px;
}
td{
    padding: 12px 0px;
}
th{
    text-align: left;
    background: #ff523b;
    color: #fff;
    font-weight: normal;
    padding: 5px 10px;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
 }
.cart-info a{
     text-decoration: none;
     color: #ff523b;
     cursor: pointer;
}
.cart-info p{
     color: #333;
}
.cart-info small{
     font-size: 14px;
     margin: 3px 0;
}
.cart-info img{
     width: 80px;
     height: 80px;
     margin-right: 10px;
}
td input{
    width: 40px;
    height: 40px;
    padding: 7px;
    border: 1px solid #ff523b;
    cursor: pointer;
}
td input:focus{
      outline: none;
}


.total-price{
     display: flex;
     justify-content: flex-end;
}
.total-price table{
     border-top: 3px solid #ff523b;
     width: 100%;
     max-width: 390px;
}
td:last-child{
     text-align: right;
}
th:last-child{
    text-align: right;
}

@media only screen and (max-width:700px){
    .cart-info p{
         display: none;
    }
}

/* <!-- Account  section --> */

.account-page{
      background: radial-gradient(#fff,#ffd6d6);
      margin-top: 40px;
   }
   .account-page p{
     padding-top: 30px;
   }
.form-container{
    width: 300px;
    
    margin: auto;
    background: #fff;
    padding: 5px 5px;
     box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #000;
    border-radius: 20px;
}
  
.form-container span{
     width: 100%;
     font-weight: bold;
     font-size: 20px;
     padding: 0px 10px ;
     text-align: center;
     display: block;
}
.form-container form{
      padding-right: 10px;
      padding-left: 10px;
      display: block;
      margin-top: 5px;
}
.form-container input,.form-container {
     display: block;
     width: 100%;
     box-sizing: border-box;
     padding: 15px;
     text-align: left;
     border: 1px solid #000;
     border-radius: 5px;
     outline: none;
     color: #000;
     margin-top: 10px;
}
.form-container .btn-2{
    display: inline-block;
     box-sizing: border-box;
    text-align: center;
    padding: 5px 24px;
    background: #ff523b;
    border: 2px solid #ff523b;
    color: #fff;
    font-size: 18px;
    font-family: 'Poppins';
    
    margin-top: 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.7s;
  }
  .form-container .btn-2:hover{
        background: transparent;
        color: #000;
        
  }
  